@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    background: url('Imagem/92.jpg') center center no-repeat fixed; 
    background-size: auto;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

.foto {
    margin: auto;
    margin-top: 2rem;
    border-radius: 50%;
    width: 240px;
}

.cabecalho__porti {
text-align: center;
}

.nomee {
    color: white;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0;
}

.tecnologias__porti {
    color: white;
    margin-top: 0;
}

.projeto__porti {
    color: white;
    font-size: 4.5rem;
    text-align: center;
}

.linguagens__porti img {
    width: 3.5rem;
    margin: 5px;
    margin-left: auto;
}

.linguagens__porti {
    text-align: center;
}